    <Root>
        <Parameters>
			<!--Parameter name='register'>user</Parameter> 
			<Parameter name='filter'>+[Bom]* -[*Test]*</Parameter> 
			<Parameter name='target'>T:\SIP_PCT_DIGSI_BLR\packages\NUnit.Runners.2.6.4\tools\nunit-console-x86.exe</Parameter> 
			<Parameter name='targetargs'>/noshadow T:\SIP_PCT_DIGSI_BLR\packages\OpenCover.4.5.3723\SampleSln\BomTest\bin\Debug\BomTest.dll</Parameter--> 
			<Parameter name='enableperformancecounters'>true</Parameter> 
            <Parameter name='excludebyattribute'>*.ExcludeFromCodeCoverage*</Parameter>
        </Parameters>
    </Root>